<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Game_mini.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Game_mini.Properties.Settings>
            <setting name="fruit_1st" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fruit_2nd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fruit_3rd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="animal_1st" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="animal_2nd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="animal_3rd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="occupation_1st" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="occupation_2nd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="occupation_3rd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vehicle_1st" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vehicle_2nd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vehicle_3rd" serializeAs="String">
                <value>0</value>
            </setting>
        </Game_mini.Properties.Settings>
    </userSettings>
</configuration>